:root {
    --black: #1E1E1E;
    --white: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

.btn{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10rem;
    padding: 20px 50px 30px;
}
button {
    background-color: black;
    border: unset;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    width: 200px;
    height: 50px;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);    
}
img{
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
}

#infos{
    background-color: black;
    width: 100%;
    height: 275px;
    margin-top: 20px;
    color: aliceblue;
}
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 20px;
}
h2{
    text-align: center;
    text-decoration: underline;
    padding: 15px;
    overflow-wrap: break-word;

}
h3{
    font-size: 3.5rem;
    padding: 5px;
}
h4{
    font-size: 2rem;
}
p{
    font-size: 1.5rem;
    font-weight: lighter;
    overflow-wrap: break-word;
}
h3, h4, p{
    padding: 0 20px 5px 25px;
}

h5,
h6 {
    overflow-wrap: break-word;
}



a {
    text-decoration: unset;
    color: unset;
}

#root,
#__next {
    isolation: isolate;
}

/* Classe pour rendre une image en noir et blanc */
.grayscale {
    filter: grayscale(100%);
    transition: filter 0.5s; /* Pour un effet de transition fluide */
}
.animated {
    animation: fadeInRight 5s ease;
}
@keyframes fadeInRight {    
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }        
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}